*{
  background-color:dimgray;
  text-align:center;
}
canvas{
  background-color:plum;
  border:5px solid;
}
#all{
  display:inline-block;
  background-color:rgba(0, 0, 0, 0.5);;
  color:white;
  padding:0.5em;
}
#info{
  background-color:transparent;
  display:flex;
}
p{
  background-color:transparent;
  margin:0.5em;
}